# Variables de entorno

# Puerto del servidor
PORT=3000

# Entorno de ejecución (development, production)
NODE_ENV=development

# Base de datos MySQL
DATABASE_URL="mysql://josmar:password123@localhost:3306/mantenimiento_utp"

# JWT Secret Key (cambiar por una clave segura en producción)
JWT_SECRET=tu_secreto_super_seguro_cambiame_en_produccion

# Tiempo de expiración del token JWT
JWT_EXPIRES_IN=24h
